<input type="file" style="display: none;" (change)="onFileSelected($event)" #imageUpload multiple>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click) = "redirectHomePage()">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="cursor: pointer;">Criar novo post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click) = "redirectProfilePage()">Meu perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click) = "onLogoff()">Desconectar</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="file-upload-container">
    <input type="file" id="imageUpload" (change)="onFileSelected($event)" accept="image/*" multiple hidden>
    <form>
        <div class="upload-content">
            <div class="input-wrapper">
                <input type="text" placeholder="O que está acontecendo?" class="centered-text" [(ngModel)] = "post.content.text" name="text">
                <span class="material-icons upload-icon">
                    <img src="assets/upload.png" class="icon-img" (click)="imageUpload.click()" style="cursor: pointer;">
                </span>
            </div>
            <div class="attached-images">
                <img *ngFor="let image of imagesListBlob" [src]="image">
            </div>
        </div>
        <button type="button" class="btn btn-outline-secondary" (click) = "createPost()">Criar publicação</button>
    </form>
</div>
