<div class="parent">
    <div class="main">  	
        <input type="checkbox" id="chk" aria-hidden="true">
        
            <div class="login">
                <form>
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="email" name="email" [(ngModel)] = "user.email" placeholder="E-mail" required="">
                    <input type="password" name="password" [(ngModel)] = "user.password" placeholder="Senha" required="">
                    <button (click) = "onLogin()">Login</button>
                </form>
            </div>
            <div class="signup">
                <form>
                    <label for="chk" aria-hidden="true">Cadastro</label>
                    <input type="text" name="name" [(ngModel)] = "newUser.name" placeholder="Nome" required="">
                    <input type="text" name="username" [(ngModel)] = "newUser.username" placeholder="Nome de usuário" required="">
                    <input type="email" name="email" [(ngModel)] = "newUser.email" placeholder="E-mail" required="">
                    <input type="password" name="pswd" [(ngModel)] = "newUser.password" placeholder="Senha" required="">
                    <button (click) = "createUser()">Cadastrar</button>
                </form>
            </div>
    
            
    </div>
</div>
