<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" style="cursor: pointer;">Posts e álbuns</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" (click) = "redirectUploadContent()">Criar novo post/álbum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" (click) = "redirectProfilePage()">Meu perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" (click) = "onLogoff()">Desconectar</a>
      </li>
    </ul>
  </div>
</nav>

<div class="blog-feed">
  <p class="post-creator" *ngIf="posts.length == 0" style="cursor: pointer;" (click) = "redirectUploadContent()">Ainda não há publicações. Faça um post ou um álbum!
  <div *ngFor="let post of posts" class="post">
    <div class="post-text">

      <p class="post-creator" *ngIf="userAuthenticated.id != post.creator.id && post.content.images.length > 0">Álbum criado por: {{post.creator.name}} (&#64;{{post.creator.username}})</p>
      <p class="post-creator" *ngIf="userAuthenticated.id != post.creator.id && post.content.images.length == 0">Post criado por: {{post.creator.name}} (&#64;{{post.creator.username}})</p>


      <p class="post-creator" *ngIf="userAuthenticated.id == post.creator.id && post.content.images.length > 0">Seu álbum: 
        <img src="assets/delete.png" class="delete-post" (click)="deletePost(post.id)" style="cursor: pointer;">
      </p>

      <p class="post-creator" *ngIf="userAuthenticated.id == post.creator.id && post.content.images.length == 0">Seu post: 
        <img src="assets/delete.png" class="delete-post" (click)="deletePost(post.id)" style="cursor: pointer;">
      </p>

      <p>{{ post.content.text }}</p>
    </div>
    <div class="post-images" *ngIf="post.content.images.length > 0">
      <div *ngFor="let image of post.content.images" class="image-container">
        <img [src]="image" alt="Post Image" class="post-image">
      </div>
    </div>
    
    <div class="comments">
      <ul>
        <li *ngFor="let comment of post.comments">
          <img src="assets/delete.png" class="delete-comment" *ngIf="userAuthenticated.id == comment.creator.id" (click)="deleteComment(comment.id)" style="cursor: pointer;">
          <output *ngIf="userAuthenticated.id == comment.creator.id">Você comentou:  </output>
          <output *ngIf="userAuthenticated.id != comment.creator.id">{{comment.creator.name}} comentou:  </output>
          {{comment.text}}
        </li>
      </ul>
    
      <div class="add-comment">
        <input  placeholder="Adicione um comentário"  name="newCommentText" [(ngModel)] = "newCommentText">
        <button class="btn btn-outline-secondary mx-auto d-block" type="button" (click)="createComment(post.id)">Adicionar comentário</button>
      </div>
    </div> 
  </div>
</div>